<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ARHouse.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>99D13C341F81543E00E1DF98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>99D13C4C1F81543E00E1DF98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>99D13C571F81543E00E1DF98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
